<ion-view title="Declaratie" id="page3">
  <ion-content padding="true" class="has-header">
    <div id="declaratie-button-bar1" class="button-bar">
      <button id="declaratie-button4" class="button button-positive  button-block">Foto maken declaratie</button>
    </div>
    <button id="declaratie-button5" class="button button-positive  button-block">Foto ophalen declaratie</button>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="declaratie-button7" class="button button-positive  button-block">Opslaan</button>
    <form id="declaratie-form4" class="list">
      <label class="item item-input" id="declaratie-input14">
        <span class="input-label">Bedrag declaratie</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="declaratie-input13">
        <span class="input-label">Datum declaratie</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="declaratie-input15">
        <span class="input-label">Omschrijving</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>