<ion-view title="Nieuwe rit" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="nieuweRit-form1" class="list">
      <label class="item item-input" id="nieuweRit-input1">
        <span class="input-label">Beginstand km-teller</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input2" name="dsfs">
        <span class="input-label">Eindstand km-teller</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input3">
        <span class="input-label">Omschrijving</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input4">
        <span class="input-label">Vertrek</span>
        <ion-datetime displayFormat="MM/DD/EEJJ">
         <input type="date" placeholder="">
        </ion-datetime>
      </label>
      <label class="item item-input" id="nieuweRit-input5">
        <span class="input-label">Aankomst</span>
        <input type="date" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input6">
        <span class="input-label">Gereden km's</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input9">
        <span class="input-label">Kosten (in Euro)</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="nieuweRit-input10">
        <span class="input-label">Berekening</span>
        <input type="text" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>